html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike,strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
  margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}
body{font-family: 'Lato', sans-serif; color: black;}
.bck_black{
  background-color: black !important;
  color: white !important;
}
.color_grey{
  color: #666666 !important;
}
.color_lgrey{
  color: #999999;
}
h1{
  font-size: 120px;
  font-family: 'Playfair Display', sans-serif !important;
  text-transform: uppercase !important;
}
h2{
  font-size: 87px;
  font-family: 'Playfair Display', sans-serif !important;
  text-transform: uppercase !important;
}
h3{
  font-size: 57px;
  font-family: 'Playfair Display', sans-serif !important;
  text-transform: uppercase !important;
}
h4{
  font-size: 50px;
  font-family: 'Playfair Display', sans-serif !important;
  text-transform: uppercase !important;
}
h5{
  font-size: 35px;
  text-transform: uppercase !important;
}
h6{
  font-size: 27px;
  font-family: 'Playfair Display', sans-serif !important;
  text-transform: uppercase !important;
}
.p_bg{
  font-size: 20px;
}
.p_md{
  font-size: 17px !important;
}
p{
  font-size: 16px !important;
}
.p_sm{
  font-size: 15px !important;
}
.medium{
  font-weight: 600;
}
.bold{
  font-weight: 700;
}
.uppercase{
  text-transform: uppercase;
}
.capatalize{
  text-transform: capitalize;
}
.italic{
  font-style: italic;
}
.pad-70{
  padding-top: 70px !important;
  padding-bottom: 70px !important;
}
a button{
  border-radius: 5px !important;
  cursor: pointer;
  transition: ease-in-out .2s;
  text-transform: uppercase;
  font-weight: 600;
}
.transparent_btn{
  background-color: transparent !important;
  border: 1px solid #333333 !important;
  color: #333333 !important;
}
.transparent_btn:hover{
  background-color: #fa0046 !important;
  border: 1px solid #fa0046 !important;
  color: white !important;
}
.yellow_btn{
  background-color: #ffbc43 !important;
  border: 1px solid #ffbc43 !important;
  color: white !important;
}
.yellow_btn:hover{
  border: 1px solid #ffbc43 !important;
  background: transparent !important;
  color: #ffbc43 !important;
}
.lh{
  line-height: 1.5;
}
/* ====================================== Header ================================================ */
header{
  z-index: -1;
}
header .row{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
header h5{
  letter-spacing: 5px;
  font-weight: 300;
}
.togle{
  width: 16%;
  text-align: center;
  padding-bottom: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 0 !important;
  position: absolute;
  right: 0;
  top: 30px;
  height: 22%;
  padding-top: 50px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #f9b103;
  opacity: 0.8;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
}
.sidenav{
  padding-top: 20%;
  z-index: 99999;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white !important;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover{
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.togle span{
  font-size:30px;cursor:pointer;
}
.togle i{
  font-size: 25px;
}
header .owl-dots, .special .owl-dots{
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}
header .owl-dot span, .special .owl-dot span{
  background: transparent !important;
  border: 2px solid black !important;
}
header .active span, .special .active span{
  background: transparent !important;
  border: 2px solid white !important;
}
/* ====================================== Featured ================================================ */
.featured{
  padding-top: 110px;
  padding-bottom: 55px;
}
.img-card{
  border: 1px solid #cccccc !important;
  transition: ease-in-out .4s;
}
.img-card:hover{
  box-shadow: 0px 0px 50px 0px rgba(0,0,0,.15);
}
.featured .p_bg{
  color: #191e2a !important;
}
/* ====================================== About ================================================ */
.about{
  background-image: url('../images/about-back.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 130px 10px;
}
.about-inner{
  border: 5px solid #ffbc43 !important;
  background-color: white;
  width: 70%;
}
/* ====================================== Special ================================================ */
.special{
  background-image: url('../images/special-back.png');
  background-repeat: no-repeat;
  background-size: cover;
}
/* ====================================== Shop ================================================ */
.shop{
  background-color: #fa0046;
  text-align: center;
  color: white !important;
}
/* ====================================== Footer ================================================ */
footer, .bottom{
  font-family: 'Playfair Display', sans-serif !important;
}
footer h6{
  font-size: 23px !important;
  font-weight: 900;
}
footer a,footer p{
  color: #666666 !important;
  font-size: 16px !important;
  font-weight: 500;
}
.follow-us li{
  display: inline-block;
}
.follow-us i{
  color: #666666 !important;
  font-size: 24px !important;
  padding: 10px !important;
  transition: ease-in-out .2s;
}
.follow-us i:hover{
  color: #ffbc43 !important;
}
.pink{
  color: #fa0046 !important;
}
/* ====================================== Bottom ================================================ */
/* ====================================== Media Queries ================================================ */ 
@media screen and (max-width:1600px){
}
@media screen and (max-width:1200px){
}
@media screen and (max-width:991px){
  h1{
    font-size: 80px;
  }
  h2{
    font-size: 67px;
  }
  h3{
    font-size: 50px;
  }
  h4{
    font-size: 40px;
  }
  h5{
    font-size: 32px;
  }
  h6{
    font-size: 25px;
  }
  .pad-70{
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
  .featured{
    padding-top: 55px;
    padding-bottom: 55px;
  }
  .about{
    padding: 70px 10px;
  }  
 }
@media screen and (max-width:768px){
  .about-inner{
    width: 90%;
  }
  h1{
    font-size: 50px;
  }
  h2{
    font-size: 37px;
  }
  h3{
    font-size: 32px;
  }
  h4{
    font-size: 27px;
  }
  h5{
    font-size: 24px;
  }
  h6{
    font-size: 21px;
  }
  .pad-70{
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
  .featured{
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .about{
    padding: 50px 10px;
  }  
}
@media screen and (max-width:576px){
  .about-inner{
    width: 100%;
  }
  h1{
    font-size: 35px;
  }
  h2{
    font-size: 30px;
  }
  h3{
    font-size: 28px;
  }
  h4{
    font-size: 23px;
  }
  h5{
    font-size: 20px;
  }
  h6{
    font-size: 18px;
  }
  header .owl-dots, .special .owl-dots{
    bottom: 5px;
  }
  .pad-70{
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
  .about{
    background-image: none !important;
    background-color: #fa0046 !important;
    padding: 30px 10px;
  }  
}
